.contract-period-type {
    margin-bottom: 0 !important;
}

.header-service-package-service {
    .ant-collapse-expand-icon {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
}

.create-service-package-container {
    .ant-card-body {
        padding: 24px 24px 0px !important;
    }
}

.update-service-package-container {
    .ant-card-body {
        padding: 24px 24px 0px !important;
    }
}

.view-service-package-container {
    .ant-card-body {
        padding: 24px 24px 0px !important;
    }
}